#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    macros {
        tmux_n1: tmux_n1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp N1>;
        };

        tmux_n2: tmux_n2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp N2>;
        };

        tmux_n3: tmux_n3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp N3>;
        };

        tmux_n4: tmux_n4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp N4>;
        };

        vim_write: vim_write {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &kp COLON &kp W &kp ENTER>;
        };

        gg: gg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp G>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // LEFT HAND                                                      5-WAY SWITCH      RIGHT HAND

            bindings = <
&kp GRAVE  &kp N1        &kp N2          &kp N3            &kp N4          &kp N5            &kp C_VOL_DN            &kp C_VOLUME_UP       &kp N6             &kp N7         &kp N8             &kp N9          &kp N0         &kp DELETE
&kp LBKT   &kp B         &kp Y           &kp O             &kp U           &kp APOS          &kp C_BRIGHTNESS_DEC    &kp C_BRIGHTNESS_INC  &kp SEMI           &kp L          &kp D              &kp W           &kp V          &kp RBKT
&kp Z      &kp C         &kp I           &kp E             &kp A           &kp COMMA         &kp EQUAL               &kp EXCL              &kp DOT            &kp H          &kp T              &kp S           &kp N          &kp Q
&kp LALT   &kp G         &kp X           &kp J             &kp K           &kp MINUS                                                       &kp SLASH          &kp R          &kp M              &kp F           &kp P          &kp BACKSLASH
           &kp LEFT_ALT  &kp LEFT_ARROW  &kp RIGHT_ARROW                                                                                                                     &kp UP_ARROW       &kp DOWN_ARROW  &kp RIGHT_ALT
                         &kp ENTER       &kp LEFT_COMMAND  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp TAB                 &kp ESCAPE            &kp RIGHT_CONTROL  &kp BACKSPACE  &kp RIGHT_COMMAND  &kp SPACE
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp F1    &kp F2  &kp F3    &kp F4      &kp F5       &kp F6    &trans  &kp F7     &kp F8     &kp F9     &kp F10               &kp F11                &kp F12
&trans  &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT  &trans    &trans  &kp CARET  &kp AMPS   &kp ASTRK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH
&trans  &kp N1    &kp N2  &kp N3    &kp N4      &kp N5       &trans    &trans  &kp MINUS  &kp EQUAL  &kp GRAVE  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE
&trans  &kp N6    &kp N7  &kp N8    &kp N9      &kp N0                         &kp UNDER  &kp PLUS   &kp TILDE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
        &trans    &trans  &trans                                                                     &trans     &trans                &trans
                  &trans  &trans    &trans      &trans       &trans    &trans  &trans     &trans     &trans     &trans
            >;
        };
    };
};
